
@media all and (orientation: portrait) /* vertikal */
{
body
{
  font-family: sans-serif;
  font-size: 4vw;
}
div.HV
{
  padding: 1%;
  box-sizing: border-box;
}
}

@media all and (orientation: landscape) /* horizontal */
{
body
{
  font-family: sans-serif;
  font-size: 2vw;
}
div.HV
{
  padding: 1%;
  float: left;
  width: 50%;
  box-sizing: border-box;
}
}
